<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sales Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Select Date</ion-label>
    <ion-select placeholder="Select date">
      <ion-select-option value="">Select Date</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>LAN ID Number</ion-label>
          <ion-input></ion-input>
        </ion-item>  
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Customer Name</ion-label>
          <ion-input></ion-input>
        </ion-item>  
      </ion-col>
    </ion-row>
    <div class="btnStyle">
      <ion-button class="btnStyleIn">Search</ion-button>
    </div>
  </ion-grid>
  <div class="btnStyle">
    <ion-button>Export to Exel</ion-button>
  </div>
</ion-content>
