<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sales Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Select Date</ion-label>
    <ion-select placeholder="Select date" [(ngModel)]="selectedDate">
      <ion-select-option value="">Select Date</ion-select-option>
      <ion-select-option *ngFor="let year of years;" value="year">{{year}}</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>LAN ID Number Or Customer Name</ion-label>
        </ion-item>  
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="inputSearch"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="btnStyle">
      <ion-button class="btnStyleIn" (click)="searchBusiness()">Search</ion-button>
    </div>
  </ion-grid>

  <ion-grid *ngIf="allbusiness.length">
    <ion-card *ngFor="let user of allbusiness;let i = index;">
      <ion-row >
        <ion-col style="text-align: center;">
          {{user.name}}
        </ion-col>
        
      </ion-row>  
      <ion-row >
        <ion-col size="6" style="text-align: center;">
          LAN: {{user.lanNo}}
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          Created By: {{user.createdBy}}
        </ion-col>
      </ion-row>  
      <ion-row >
        <ion-col size="6" style="text-align: center;">
          Amount: {{user.disbursedAmount}}
        </ion-col>
        <ion-col size="6" style="text-align: center;">
          Type: {{user.typeOfBorrow}}
        </ion-col>
      </ion-row>  
      <ion-row >
        <ion-col style="text-align: center;">
          Remark: {{user.remarks}}
        </ion-col>
      </ion-row>  
      </ion-card>
  </ion-grid>

  <div class="btnStyle">
    <ion-button (click)="exportReport()">Export to Exel</ion-button>
  </div>
</ion-content>
