<ion-content>
  <img src="../../assets/imgs/loginscreen.PNG" height="50%" width="100%">
  <h3 class="buttonCont">Login With PIN</h3>
  <h3 class="buttonCont" *ngIf="setPin=='0'">Set PIN</h3>
  <h3 class="buttonCont" *ngIf="setPin=='1'">Confirm PIN</h3>
  <h3 class="buttonCont" *ngIf="setPin=='2'">Enter PIN</h3>
  <ion-row text-center>
    <ion-col style="text-align: center;">
     <ion-input #otp1 required  [(ngModel)]="d1" type="password" pattern="/^([0-9]{1})/" (keyup)="otpController($event,otp2,'',otp1)">
     </ion-input>
     <ion-input #otp2 required  [(ngModel)]="d2" type="password" pattern="/^([0-9]{1})/" (keyup)="otpController($event,otp3,otp1,otp2)">
     </ion-input>
     <ion-input #otp3 required  [(ngModel)]="d3" type="password" pattern="/^([0-9]{1})/" (keyup)="otpController($event,otp4,otp2,otp3)">
     </ion-input>
     <ion-input #otp4 required  [(ngModel)]="d4" type="password" pattern="/^([0-9]{1})/" (keyup)="otpController($event,'',otp3,otp4)">
     </ion-input>
     <ion-input #empt style="display: none;" hidden></ion-input>
    </ion-col>
  </ion-row>
  <div class="buttonCont" *ngIf="setPin == '2'">
    <ion-button class="loginButton" (click)="signin()">Sign In</ion-button>
  </div>
  <div class="buttonCont" *ngIf="setPin == '0'">
    <ion-button class="loginButton" (click)="setpin()">Set PIN</ion-button>
  </div>
  <div class="buttonCont" *ngIf="setPin == '1'">
    <ion-button class="loginButton" (click)="confirmPin()">Confirm PIN</ion-button>
  </div>
  <br>
  <div class="buttonCont">
    <a (click)="goto('login')" *ngIf="setPin == '2'">Forgot PIN ?</a>
  </div>
  <div class="buttonCont" *ngIf="setPin != '2'">
    <a (click)="goto('login')">Back to Login</a>
  </div>
</ion-content>
