<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/loginscreen.PNG">
  <h3 class="buttonCont">Welcome Rajesh</h3>
  <br>
  <h5 class="buttonCont">Personal Details</h5>
  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Gender</ion-label>
    <ion-input></ion-input>
  </ion-item>  
  <br>
  <h5 class="buttonCont">Payout Details</h5>
  <ion-item>
    <ion-label position="floating">Beneficiary Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Account Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">IFSC Code</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">PAN Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
