<ion-header>
<ion-toolbar>
  <ion-icon slot="end" name="close-outline" (click)="dismissModal()"></ion-icon>
</ion-toolbar>
</ion-header>
<ion-content>
<h2>CONTACT GENIEFIN SUPPORT</h2>
<ion-grid>
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-card>
        <ion-icon name="call-outline"></ion-icon>
        <br>
        <ion-label>Call Us</ion-label>
      </ion-card>
    </ion-col>
    <ion-col style="text-align: center;" >
      <ion-card>
        <ion-icon name="mail-outline"></ion-icon>
        <br>
        <ion-label>Email Us</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
