<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/addmembers.png" height="35%" width="100%">
<form [formGroup]="addBusinessForm" novalidate>
  <ion-item>
    <ion-label position="floating">Type of Loans</ion-label>
    <ion-select placeholder="Type of Loans" interface="action-sheet" formControlName="typeOfBorrow">
      <ion-select-option value="home">Home</ion-select-option>
      <ion-select-option value="personal">Personal</ion-select-option>
      <ion-select-option value="mortgage">Mortgage</ion-select-option>
      <ion-select-option value="business">Business</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngFor="let error of errorMessages.typeOfBorrow">
    <ng-container *ngIf="typeOfBorrow.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>
  <ion-item>
    <ion-label position="floating">Bank Name</ion-label>
    <ion-select placeholder="Bank Name" interface="action-sheet" formControlName="bankName">
      <ion-select-option value="hdfc">HDFC</ion-select-option>
      <ion-select-option value="icic">ICICI</ion-select-option>
      <ion-select-option value="idfc">IDFC</ion-select-option>
      <ion-select-option value="adityabirla">Aditya Birla</ion-select-option>
      <ion-select-option value="incred">Incred</ion-select-option>
      <ion-select-option value="kotak">Kotak</ion-select-option>
      <ion-select-option value="flutron">Flutron</ion-select-option>
      <ion-select-option value="bajajfinance">Bajaj Finance</ion-select-option>
      <ion-select-option value="yesbank">Yes bank</ion-select-option>
      <ion-select-option value="axisfinance">Axis finance</ion-select-option>
      <ion-select-option value="axisbank">Axis bank</ion-select-option>
      <ion-select-option value="standardchartered">Standard chartered</ion-select-option>
      <ion-select-option value="tatacapital">Tata Capital</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngFor="let error of errorMessages.bankName">
    <ng-container *ngIf="bankName.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>
  <ion-item>
    <ion-label position="floating">Aplication / LAN ID Number </ion-label>
    <ion-input formControlName="lanNo"></ion-input>
  </ion-item>
  <div *ngFor="let error of errorMessages.lanNo">
    <ng-container *ngIf="lanNo.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>
  <ion-item>
    <ion-label position="floating">Customer Name</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>
  <div *ngFor="let error of errorMessages.name">
    <ng-container *ngIf="name.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>
  <ion-item>
    <ion-label position="floating">Disbursed Date</ion-label>
    <ion-input (click)="openDatetime()" [readonly]="true" value="{{selectedDate}}" *ngIf="!openDatetimeField"></ion-input>
    
    <!-- <ion-input datetime="datetime"></ion-input> -->
<!-- <ion-modal [keepContentsMounted]="true">
    <ion-datetime placeholder="Select Date" displayFormat="DD-MMM-YYYY" formControlName="disburseDate"></ion-datetime>
</ion-modal> -->
<div *ngIf="openDatetimeField">
  <ion-datetime placeholder="Select Date" displayFormat="DD-MM-YYYY" [(ngModel)]="selectedDate"  formControlName="disburseDate" ></ion-datetime>
  <ion-button (click)="hideDatetime()">OK</ion-button>
</div>
  </ion-item>
  <div *ngFor="let error of errorMessages.disburseDate">
    <ng-container *ngIf="disburseDate.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>  
  <ion-item>
    <ion-label position="floating">Disbursed Amount </ion-label>
    <ion-input formControlName="disbursedAmount"></ion-input>
  </ion-item>
  <div *ngFor="let error of errorMessages.disbursedAmount">
    <ng-container *ngIf="disbursedAmount.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>
  <!-- <ion-item>
    <ion-label position="floating">Current Points %</ion-label>
    <ion-input formControlName="currentPoint"></ion-input>
  </ion-item>
  <div *ngFor="let error of errorMessages.currentPoint">
    <ng-container *ngIf="currentPoint.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div> -->
  <ion-item>
    <ion-label position="floating">Remarks</ion-label>
    <ion-input formControlName="remarks"></ion-input>
  </ion-item>
  <div *ngFor="let error of errorMessages.remarks">
    <ng-container *ngIf="remarks.hasError(error.type)"> 
         <small class="serror-message">{{error.message}}</small>
       </ng-container> 
     </div>
</form>
  <div class="buttonCont">
    <ion-button class="loginButton" (click)="addNewBusiness()" [disabled]="!addBusinessForm.valid">Book Business</ion-button>
  </div>
</ion-content>

