<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pending Agent Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-card *ngFor="let user of users;let i = index;">
  <ion-row >
    <ion-col style="text-align: center;">
      {{user.name}}
    </ion-col>
    
  </ion-row>  
  <ion-row>
    <ion-col size="6" style="text-align: center;">
      Mob: 
    </ion-col>
    <ion-col size="6" style="text-align: center;">
      {{user.mobile}}
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="6" style="text-align: center;">
      Email:
    </ion-col>
    <ion-col size="6" style="text-align: center;">
       {{user.email}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" style="text-align: center;">
      Aadhaar Number:
    </ion-col>
    <ion-col size="6" style="text-align: center;">
      {{user.aadhaar}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" style="text-align: center;">
      <img [src]="user.aadhaarFront" height="200px" width="350px">
    </ion-col>
    <ion-col size="6" style="text-align: center;">
      <img [src]="user.aadhaarBack" height="200px" width="350px">
    </ion-col>
  </ion-row>
  
  <ion-row >
    <ion-col size="6" style="text-align: center;">
    <ion-button (click)="reject(user.email,i)">Reject</ion-button>
    </ion-col>
    <ion-col size="6" style="text-align: center;">
      <ion-button (click)="approve(user.email,i)">Approve</ion-button>
    </ion-col>
  </ion-row> 
  </ion-card>
</ion-grid>
</ion-content>
