<ion-content>
  <img src="../../assets/imgs/loginscreen.PNG" height="50%" width="100%">
 <div class="container-fields">
  <h3 class="buttonCont">Login</h3>
  <form [formGroup]="loginForm" novalidate class="login-form">
  
  <ion-item>
    <ion-label position="floating" class="label-style">Email ID</ion-label>
    <ion-input formControlName="email" style="text-align: center;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="label-style">Password</ion-label>
    <ion-input type="{{passwordShowType}}" formControlName="password" style="text-align: center;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="passwordShow" formControlName="passwordShow" (ionChange)="showPassword()" slot="start"></ion-checkbox>
  <ion-label>Show Password</ion-label>
  </ion-item> 
  <div class="buttonCont">
    <!-- goto('loginwithpin') -->
    <ion-button class="loginButton" (click)="login()" shape="round">Sign In</ion-button>
  </div>
  <br>
  <div class="buttonCont">
    <a (click)="goto('register')">Don't have an account ? Sign Up</a>
  </div>
  <br>
  <div class="buttonCont">
    <a (click)="goto('forgotpassword')">Forgot Password ?</a>
  </div>
</form>
<p style="text-align:center;">Platform: {{devicePlatform}} <b *ngIf="devicePlatform != 'Web'">Ver: {{appVersions}}</b></p>
</div>
</ion-content>
  