.loginButton{
    text-align: center;
}
.buttonCont{
    text-align: center;
}
ion-input{
    border-bottom: 2px solid #5050f7;
}
.label-style{
    margin-top: 2px;
    text-align: center;
}



// #f5f4f9      #ff3e3f