<ion-content>
  <img src="../../assets/imgs/loginscreen.PNG" height="50%">
  <h3 class="buttonCont">Login</h3>
  <ion-item>
    <ion-label position="floating">Email ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="buttonCont">
    <ion-button class="loginButton">Sign In</ion-button>
  </div>
  <br>
  <div class="buttonCont">
    <a (click)="goto('register')">Don't have an account ? Sign Up</a>
  </div>
</ion-content>
