<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/forgotpassword.jpg" height="50%" width="100%">
  <h3 class="buttonCont">Forgot Password ?</h3>

  <form [formGroup]="forgotPasswordForm" novalidate>
    <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>
  </form>
  
<div class="buttonCont">
  <ion-button (click)="sendLink()">Send Reset Link</ion-button>
</div>
</ion-content>
