<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/addmembers.png" height="35%" width="100%">

  <ion-item>
    <ion-label position="floating">Enter Your Full Name <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="name" requred (ionChange)="showBtn()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email ID <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="email" requred (ionChange)="showBtn()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="mobile" type="number" requred (ionChange)="showBtn()"></ion-input>
  </ion-item>
  <!-- <ion-item *ngIf="false">
    <ion-label position="floating">Aadhar Number</ion-label>
    <ion-input></ion-input>
  </ion-item>   -->
 
  <div class="buttonCont">
    <ion-button class="loginButton" [disabled]="addbtn" (click)="addMember()">Add Member</ion-button>
  </div>
</ion-content>

