<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/addmembers.png" height="35%">

  <ion-item>
    <ion-label position="floating">Enter Your Full Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Aadhar Number</ion-label>
    <ion-input></ion-input>
  </ion-item>  
 
  <div class="buttonCont">
    <ion-button class="loginButton">Add Member</ion-button>
  </div>
</ion-content>

