#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.size-fab{
  font-size: 200%;
  border-radius: 50%;
  padding: 6%;
}

div{
  font-size: 50%;
}

button{
  background: none;
}

h1{
  text-align: center;
}


// ion-content{
//   --background:#d5d2ff ;
// }

ion-card{
  text-align: center; 
  height: 100%;
 
}

ion-col{
  margin-bottom: 10%;
}
////#d5d2ff

.iconsty {
  margin-left: 30%;
  border: 2px solid #e9e6e6;
  background: #ffffff;
}

.iconstyaddb{
  border-radius: 40px;
}

ion-card{
  // background-color: #3880ff;
  // color: #ffffff;
  // font-size: 38px;
      /* background-color: #2b5eb9; */
      // color: #5b6eec;
      // background: none;
      // border: solid 2px #1919da;
      // font-size: 38px;
      color: #0b0b0c;
      background: none;
      // background: #b5bceb;
      // border: solid 2px #1919da;
      // border-start-start-radius: 20%;
      // border-start-end-radius: 10%;
      // border-end-start-radius: 10%;
      // border-end-end-radius: 20%;
      font-size: 38px;
}

.menu_btn
  {
    // background-color: #3880ff;
    // color: #ffffff;
    // font-size: 38px;
        /* background-color: #2b5eb9; */
        // color: #5b6eec;
        // background: none;
        // border: solid 2px #1919da;
        // font-size: 38px;
        color: #0b0b0c;
        background: none;
        // background: #b5bceb;
        // border: solid 2px #1919da;
        // border-start-start-radius: 20%;
        // border-start-end-radius: 10%;
        // border-end-start-radius: 10%;
        // border-end-end-radius: 20%;
        text-align: center;
        font-size: 38px;
  }
