<ion-content>
  <img src="../../assets/imgs/loginscreen.PNG" height="50%">
  <h3 class="buttonCont">Register</h3>
  <h5 class="buttonCont">Let's help with some details.</h5>
  <ion-item>
    <ion-label position="floating">Enter Your Full Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>  
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
<ion-row>
  <ion-col size="6" class="loginButton">
    <img src="../../assets/imgs/logo.png">
    <p>Adhar Front</p>
  </ion-col>
  <ion-col size="6" class="loginButton">
    <img src="../../assets/imgs/logo.png">
    <p>Adhar Back</p>
  </ion-col>
</ion-row>

  <div class="buttonCont">
    <ion-button class="loginButton">Sign Up</ion-button>
  </div>
  <br>
  <div class="buttonCont">
    <a (click)="goto('login')">Already have an account ? Sign In</a>
  </div>
</ion-content>
